body {
	height: 100vh;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background: #333B41;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333B41), color-stop(100%, #1d1f20));
	background: -webkit-linear-gradient(top, #333B41 0%, #1d1f20 100%);
	background: -moz-linear-gradient(top, #333B41 0%, #1d1f20 100%);
	background: -ms-linear-gradient(top, #333B41 0%, #1d1f20 100%);
	background: -o-linear-gradient(top, #333B41 0%, #1d1f20 100%);
	background: linear-gradient(to bottom, #333B41 0%, #1d1f20 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333B41', endColorstr='#1d1f20', GradientType=0);
	background-attachment: fixed;
}

table {
	color: white;
	border-collapse: collapse;
	border-spacing: 0;
	border: 0;
	table-layout: fixed;
	empty-cells: hide;
}

table th,
table td {
	margin: 0;
	padding: 0;
	outline: 0;
	font-weight: normal;
}

table th {
	margin: 0;
	padding: 0;
	outline: 0;
	vertical-align: middle;
	font-size: 12px;
	opacity: 0.6;
	border: 1px solid rgb(200, 200, 200, 0.05);
}

table thead tr>th:nth-last-child(1),
table tbody tr>td:nth-last-child(1) {
	color: rgb(183, 123, 226);
}

table thead tr>th:nth-last-child(2),
table tbody tr>td:nth-last-child(2) {
	color: rgb(0, 143, 190);
}

table thead tr>th:nth-last-child(3),
table tbody tr>td:nth-last-child(3) {
	color: rgb(147, 241, 223);
}

table thead tr>th:nth-last-child(4),
table tbody tr>td:nth-last-child(4) {
	color: rgb(194, 109, 77);
}

table thead tr>th:nth-last-child(5),
table tbody tr>td:nth-last-child(5) {
	color: rgb(111, 109, 77);
}

table thead tr>th:nth-last-child(18),
table tbody tr>td:nth-last-child(18) {
	color: rgb(247, 0, 85);
}

.chemical {
	font-size: 12px;
	padding: 10px;
	text-align: right;
	border: 1px solid rgb(200, 200, 200, 0.05);
}

.chemical span {
	font-size: 12px;
	width: 100%;
	display: block;
	line-height: 1em;
	opacity: 0.5;
}

.chemical .number {
	text-align: right;
	line-height: 0.7em;
}

.chemical .symbol {
	font-weight: 600;
	font-size: 2.17em;
	opacity: 1;
	width: 90%;
}

.chemical .name {
	padding-top: 5px;
}

.chemical .mass {
	padding-top: 5px;
}